<div class="container my-5">
  <h1 class="text-center mb-4">Contact Us</h1>
  <div class="card shadow-sm bg-dark text-light">
    <div class="card-body">
      <p class="lead text-center">
        We'd love to hear from you! Feel free to reach out using the information below.
      </p>
      <ul class="list-unstyled text-center">
        <li class="mb-2">
          <strong>Email:</strong> <a href="mailto:info@myblog.com" class="text-light text-decoration-none">info@myblog.com</a>
        </li>
        <li class="mb-2">
          <strong>Phone:</strong> +1 (555) 123-4567
        </li>
        <li class="mb-2">
          <strong>Address:</strong> 123 Blog Street, Blog City, BC 12345
        </li>
      </ul>
      <p class="text-center">
        You can also follow us on social media:
      </p>
      <div class="d-flex justify-content-center">
        <a href="#" class="btn btn-primary btn-sm me-2">Twitter</a>
        <a href="#" class="btn btn-primary btn-sm me-2">Facebook</a>
        <a href="#" class="btn btn-primary btn-sm">Instagram</a>
      </div>
    </div>
  </div>
</div>
